:root {
  --bleu: #5A86BF;
  --bleuciel: #7E9ABF;
  --taupe: #A67153;
  --marron: #A67C49;
  --clair: #C1C9D9;
  --blanc: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  background-color: var(--clair);
}

.wrap {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}
.container {
  min-height: calc(100vh - 220px);
  text-align: -webkit-center;
}
#masthead {
  padding: 1rem 0;
  background-color: var(--bleu);
  height: 60px;
  nav ul {
    display: flex;
    gap: 1rem;
    justify-content: center;
    li a {
      color: var(--blanc);
    }
  }
}

#colophon {
  background-color: var(--bleu);
  color: var(--blanc);
  padding: 1rem 0;
  text-align: center;
  height: 60px;
}

form.wrapform {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background-color: var(--blanc);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 600px;
}

form.wrapform label {
  display: block;
  margin-bottom: 10px;
  color: var(--marron);
  font-weight: bold;
}

form.wrapform input[type="text"],
form.wrapform input[type="email"],
form.wrapform input[type="number"],
form.wrapform select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--clair);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

form.wrapform input[type="submit"] {
  background-color: var(--bleu);
  color: var(--blanc);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

form.wrapform input[type="submit"]:hover {
  background-color: var(--bleuciel);
}

.table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

.table thead th {
  background-color: var(--bleu);
  color: var(--blanc);
  text-align: center;
  padding: 10px;
}

.table tbody td {
  border: 1px solid var(--clair);
  text-align: center;
  padding: 10px;
}

.table tbody tr:nth-child(even) {
  background-color: var(--clair);
}

.table tbody tr:hover {
  background-color: var(--bleuciel);
}
